* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* @keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
.main {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #3b8beb;
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .main {
    padding: 2rem 0;
  }
}

.backBtn {
  padding: 0.5rem 1rem;
  font-family: "Roboto", serif;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  color: #f7f9fb;
}
.backBtn:hover, .backBtn:active {
  cursor: pointer;
  color: #c4dbf6;
}
@media (min-width: 48rem) {
  .backBtn {
    font-family: "Roboto", serif;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-title {
  font-family: "Roboto", serif;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #f7f9fb;
  margin-top: 1rem;
}
@media (min-width: 48rem) {
  .container-title {
    font-family: "Roboto", serif;
    font-weight: 700;
    line-height: 4.25rem;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
  }
}

.global,
.country {
  width: 100%;
  padding: 3rem 0;
  padding-bottom: 4rem;
}
@media (min-width: 48rem) {
  .global,
.country {
    padding: 4rem 0;
    padding-bottom: 6rem;
  }
}

.country {
  display: none;
}

.loadingSpinner {
  /*   margin: variables.$pm-base * 8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px dotted variables.$white;
  border-top-color: variables.$l-blue;
  border-bottom-color: variables.$l-gray;
  animation: spinner 5s linear 0.25s infinite; */
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  transform: translateZ(0);
}

.summaryCard {
  background-color: #f7f9fb;
  width: 90%;
  height: 60%;
  min-height: 250px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  opacity: 1;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
  color: #8590aa;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .summaryCard {
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
    width: 70%;
    max-width: 600px;
  }
}
.summaryCard-headline {
  font-family: "Roboto", serif;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .summaryCard-headline {
    font-family: "Roboto", serif;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.summaryCard-info {
  padding: 0.25rem 1rem;
}
.summaryCard-info:nth-of-type(2n) {
  background-color: #e7e3d4;
}
@media (min-width: 48rem) {
  .summaryCard-info {
    padding: 0.5rem 1.5rem;
  }
}
.summaryCard-mun {
  padding-left: 0.25rem;
  font-weight: 500;
}

.form {
  width: 80%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-entry {
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  border-color: transparent;
  background-color: #f7f9fb;
  border-bottom: #3b8beb 2px solid;
}
.form-entry::-moz-placeholder {
  color: #3b8beb;
  text-align: center;
}
.form-entry:-ms-input-placeholder {
  color: #3b8beb;
  text-align: center;
}
.form-entry::placeholder {
  color: #3b8beb;
  text-align: center;
}
.form-btn {
  background-color: #f7f9fb;
  border: none;
  font-size: 1.25rem;
  margin-left: 0.25rem;
}
.form::-moz-placeholder {
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
}
.form:-ms-input-placeholder {
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
}
.form::placeholder {
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
}
@media (min-width: 48rem) {
  .form::-moz-placeholder {
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
  }
  .form:-ms-input-placeholder {
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
  }
  .form::placeholder {
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
  }
}
@media (min-width: 48rem) {
  .form-btn {
    font-size: 1.5rem;
  }
}

.mapSection {
  width: 100%;
  background-color: #f7f9fb;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .mapSection {
    padding: 4rem 0;
  }
}
.mapSection #map {
  height: 300px;
  width: 90%;
  margin: 1rem auto;
  border-radius: 4px;
}
@media (min-width: 48rem) {
  .mapSection #map {
    width: 70%;
    height: 400px;
    max-width: 600px;
    margin: 2rem auto;
    height: 300px;
  }
}

.error {
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
  color: #f7f9fb;
  margin-top: 2rem;
}

.rank {
  width: 90%;
  padding: 3rem 0;
}
@media (min-width: 48rem) {
  .rank {
    padding: 4rem 0;
  }
}
.rank-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.rank-title {
  font-family: "Roboto", serif;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #f7f9fb;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .rank-title {
    font-family: "Roboto", serif;
    font-weight: 700;
    line-height: 4.25rem;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
  }
}
.rank-most, .rank-name {
  font-family: "Roboto", serif;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  color: #f7f9fb;
  margin: 1rem;
}
@media (min-width: 48rem) {
  .rank-most, .rank-name {
    font-family: "Roboto", serif;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.rank-most:hover, .rank-most:active, .rank-name:hover, .rank-name:active {
  cursor: pointer;
  opacity: 0.7;
}
.rank-most__active, .rank-name__active {
  color: #c4dbf6;
  text-decoration: underline;
}
.rank-container {
  background-color: #f7f9fb;
  width: 90%;
  height: 60%;
  min-height: 250px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  table-layout: fixed;
  padding: 1rem;
  opacity: 1;
  display: none;
}
.rank-headline {
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
  color: #8590aa;
  margin: 0.5rem 0;
}
@media (min-width: 48rem) {
  .rank-headline {
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 0.875rem;
  }
}
.rank-headline__hide {
  display: none;
}
@media (min-width: 48rem) {
  .rank-headline__hide {
    display: table-cell;
  }
}
.rank-data {
  color: #8590aa;
}
.rank-data:nth-of-type(2n) {
  background-color: #e7e3d4;
}
.rank td {
  text-align: center;
}/*# sourceMappingURL=country.css.map */